.earn-page {
  background-color: var(--secondary-color);
  margin-top: 55px;
  margin-left: 230px;
  padding: 20px;
  @media (max-width: 768px) {
    margin-left: 0;
    padding: 20px;
  }
}
.earn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.swap-section,
.stake-section {
  border-radius: 8px;
  height: auto;
}
.swap-container {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #000;
  border-radius: 12px;
  color: #fff;
  font-family: Arial, sans-serif;
  border: 1px solid #a0a0a0;
}
.token-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #111;
  border-radius: 10px;
  margin-bottom: 10px;
}
.token-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.token-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.token-name {
  font-size: 14px;
  font-weight: bold;
}
.token-input {
  width: 120px;
  padding: 8px;
  background-color: #222;
  border: 1px solid #333;
  border-radius: 5px;
  color: #fff;
  text-align: right;
  font-size: 1.5rem;
  height: auto;
}
.balance-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.balance {
  font-size: 16px;
}
.percentage-options span {
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #aaa;
}
.percentage-options span:hover {
  color: #fff;
}
.swap-button {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #00ffcc;
  border: none;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
}
.swap-button:hover {
  background-color: #00e6b3;
}
.swap-button:disabled {
  opacity: 60%;
  cursor: not-allowed;
}
.message-box {
  height: 30px;
  font-size: 14px;
  text-align: center;
  color: #f1c40f;
  margin: 10px 0;
}
.staking-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  border-radius: 12px;
  border: 1px solid #a0a0a0;
  color: #fff;
  font-family: Arial, sans-serif;
}
.staking-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.radio_container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 0 8px;
  height: 50px;
  border-radius: 9999px;
  box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
}
.staking-statistics {
  background-color: #111;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: #777;
  height: 100px;
  align-items: center;
}
.token-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #111;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 130px;
}
.token-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.token-logo {
  width: 40px;
  height: 40px;
}
.token-name {
  font-size: 18px;
  font-weight: bold;
}
.token-input {
  width: 100px;
  padding: 8px;
  background-color: #222;
  border: 1px solid #333;
  border-radius: 5px;
  color: #fff;
  text-align: right;
  font-size: 18px;
}
.balance-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.balance {
  font-size: 16px;
}
.percentage-options span {
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #aaa;
}
.percentage-options span:hover {
  color: #fff;
}
.confirm-button {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #00ffcc;
  border: none;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
}
.confirm-button.first {
  margin-bottom: 20px;
}
.confirm-button:hover {
  background-color: #00e6b3;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.swap-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.token-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  border-radius: 10px;
}
.token-title {
  font-size: 16px;
  color: #ccc;
}
.token-amount {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.usdc-amount {
  font-size: 16px;
  color: #00ffa3;
}
