:root {
  --primary-color: #ff3358;
  --secondary-color: #1e1e1e;
  --black-color: #000;
  --text-color: #eee2df;
  --accent-color: #ff5722;
  --white-color: #ffffff;
}

.earn-page {
  background-color: var(--secondary-color);
  margin-top: 55px;
  margin-left: 230px;
  padding: 20px;
}

.earn-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.swap-section,
.stake-section {
  width: 49%; /* Adjust width for balance */
  border-radius: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
}

.placeholder {
  text-align: center;
  color: #666;
  font-size: 1.2rem;
  margin-top: 20px;
}

/* swap */
.swap-container {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #000;
  border-radius: 12px;
  color: #fff;
  font-family: Arial, sans-serif;
  border: 1px solid #a0a0a0;
}

.token-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #111;
  border-radius: 10px;
  margin-bottom: 10px;
}

.token-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.token-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.token-name {
  font-size: 14px;
  font-weight: bold;
}

.contract-address {
  font-size: 10px;
  color: #777;
}

.token-input {
  width: 120px;
  padding: 8px;
  background-color: #222;
  border: 1px solid #333;
  border-radius: 5px;
  color: #fff;
  text-align: right;
  font-size: 1.5rem;
  height: auto;
}

.balance-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.balance {
  font-size: 16px;
}

.percentage-options span {
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #aaa;
}

.percentage-options span:hover {
  color: #fff;
}

.swap-icon {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  cursor: pointer;
}

.swap-button {
  width: 100%;
  padding: 15px;
  background-color: #00ffcc;
  border: none;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;

  box-sizing: border-box;
}

.swap-button:hover {
  background-color: #00e6b3;
}

.message-box {
  height: 30px;
  font-size: 14px;
  text-align: center;
  color: #f1c40f;
  margin: 10px 0;
}

/* Staking section */
.staking-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  border-radius: 12px;
  border: 1px solid #a0a0a0;
  color: #fff;
  font-family: Arial, sans-serif;
}

.staking-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.radio_container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 0 8px;
  height: 50px;
  border-radius: 9999px;
  box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
}

input[type="radio"] {
  appearance: none;
  display: none;
  text-align: center;
}

label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius: 9999px;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #6e6e6edd;
  cursor: pointer;
}

input[type="radio"]:not(:checked) + label {
  width: 100%;
  &:hover {
    background-color: #4d4d4d;
    color: white;
  }
}

input[type="radio"]:checked + label {
  background-color: var(--black-color);
  width: 100%;
  color: #f1f3f5;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.staking-statistics {
  background-color: #111;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: #777;
  height: 100px;
  align-items: center;
}

.token-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Keeping the padding consistent */
  background-color: #111;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 130px;
}

.token-info {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between logo and text */
}

.token-logo {
  width: 40px;
  height: 40px;
}

.token-name {
  font-size: 18px;
  font-weight: bold;
}

.contract-address {
  font-size: 12px;
  color: #777;
}

.token-input {
  width: 100px;
  padding: 8px;
  background-color: #222;
  border: 1px solid #333;
  border-radius: 5px;
  color: #fff;
  text-align: right;
  font-size: 18px;
}

.balance-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.balance {
  font-size: 16px;
}

.percentage-options span {
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #aaa;
}

.percentage-options span:hover {
  color: #fff;
}

.confirm-button {
  width: 100%;
  padding: 15px;
  background-color: #00ffcc;
  border: none;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
}

.confirm-button.first {
  margin-bottom: 20px;
}

.confirm-button:hover {
  background-color: #00e6b3;
}
